<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss.SSS}] [%t] %level{length=1} %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.eclipse.jetty" level="error" />
    <Logger name="yanken.websocket" level="info" />
    <Logger name="yanken" level="trace" additivity="false">
      <AppenderRef ref="console" />
    </Logger>
    <Root level="info">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
