:root {
  --input-text: #694690;
  --input-border: #8653bf;
  --input-border-focus: #de8eee;
  --input-placeholder-color: #c1b3cf;
  --button-color: #8e489c;
  --button-border: #de8eee;
}

button {
  background-color: var(--button-color);
  border: 2px solid var(--button-border);
  color: white;
  font-size: 36px;
  padding: 2px;
  text-shadow: 0 2px rgb(0 0 0 / 20%);

  &.no-background {
    background-color: transparent;
    color: var(--button-border);
  }
  &.no-background:hover {
    color: white;
  }

  &:hover {
    border: 2px solid var(--button-color);
    background-color: var(--button-border);
  }

  &[disabled] {
    color: rgb(255 255 255 / 40%);
  }
}

input {
  border: 2px solid var(--input-border);
  color: var(--input-text);
  padding: 8px 23px;
  background-color: white;
  font-size: 24px;

  &:focus {
    border: 2px solid var(--input-border-focus);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
